<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kontests</title>
</head>
<body>
	<h1><%= name %></h1>
	<a href="<%= url %>">link</p></a>
	<p>Start time: <%= startTime %></p>
	<p>End time: <%= endTime %></p>
	<p>Duration: <%= duration %></p>
	<p>Site: <%= site %></p>
	<p>Within 24 hours: <%= withinADay %></p>
	<p>Status: <%= status %></p>
</body>
</html>